<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Footer Template</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-rhFjv7YN1zV+JQg7hPTXsyP/3Fy6p21mSz//SbN7HDtJ8aPpXttSU0pi1TwFQPNI" crossorigin="anonymous">
    <style>
        footer{
            bottom: 0;
        }
    </style>
</head>

<body>
<footer class="container d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top bg-dark text-light">
    <p class="col-md-4 mb-0">© 은행 프로젝트</p>

    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-light">Home</a></li>
    </ul>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyLqA8AHfB7AZjwF8AxtrK7M5XEUJpDddV" crossorigin="anonymous"></script>
</body>
</html>
