<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
</head>
<body>

<h2>Search Results</h2>

<table border="1">
    <thead>
    <tr>
        <th>Product ID</th>
        <th>Product Group ID</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.productId}"></td>
        <td th:text="${product.prodGrpId}"></td>
        <td th:text="${product.price}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
